{% extends "base.html" %}

{% block title %}packet {{ packet.id }}{% endblock %}
{% block packetli %}class="active"{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Date:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.date }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Server:
    </div>
    <div class="col-md-9 {% if packet.server.good %}bg-success{% else %}bg-danger{% endif %}">
      <a href="{{ url_for('server',serverip=packet.server.ip) }}">{{ packet.server.name }}</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Gateway:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.gateway }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      VLAN:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.vlan }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Type:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.type }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Address:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.address }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Client MAC:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.chaddr }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 bg-primary">
      Source MAC:
    </div>
    <div class="col-md-9 bg-info">
      {{ packet.srcmac }}
    </div>
  </div>
</div>

{% endblock %}

